/*-- Global  
-----------------------------------------------------------------------------------*/

html {
  scroll-behavior: smooth;
}


/*-- Navbar  
-----------------------------------------------------------------------------------*/

.navbar-brand img {
    width: 10%;
    padding: 12px;
}

/*-- Jumbotron 
-----------------------------------------------------------------------------------*/
.heroBackground {
    background-image: url(../images/02-hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /*height: calc(100vh - 125px); */
    display: flex;
    align-items: center;
    justify-content: center; 
}


/*-- Cards 
-----------------------------------------------------------------------------------*/
.cardContainer {
  display: flex;
  justify-content: center;
}

.card-body {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.card-text {
  flex-grow: 1;
}

.cardContainer img {
  aspect-ratio: 16/9;
  object-fit: cover;
}

.parentRow {
  justify-content: center;
}

@media (max-width: 780px) {
  .cardContainer img {
    aspect-ratio: 1.45 / 1;
  }
}

/*-- Form  
-----------------------------------------------------------------------------------*/
.signup-section {
    padding: 10rem 0;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.1) 0%,
        rgba(0, 0, 0, 0.5) 75%,
        #000000 100%
      ),
      url('../images/6_card.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

/*-- Footer 
-----------------------------------------------------------------------------------*/


/*-- Modal 
-----------------------------------------------------------------------------------*/


